* {
    box-sizing:border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background: #eee;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}
@-webkit-keyframes flash {
    0% {
        background-color: lightgray;
        opacity:0;
    }
    100% {
        background-color: lightgray;
        opacity:0.5;
    }
}
    
.familysentiment-container {
	display: flex;
    justify-content: center;
    padding: 50px;
}

.familysentiment-value {
	font-size: 80px;
	text-align: center;
    margin: 0;
}

.familysentiment-label {
    font-size: 50px;
    margin: 0;
}

.flash{
    -webkit-animation: flash 90ms 1 ease-in-out;
}