/**
 *
 * IN THE BEST INTEREST OF TIME
 * CSS USED FROM 
 * https://codepen.io/joshadamous/pen/yyyqJZ
 *
 */
* {
	box-sizing:border-box;
}

body {
	font-family: 'Noto Sans', sans-serif;
	background: #eee;
  -webkit-font-smoothing: antialiased;
}

form {
	width: 380px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group {
	position: relative; 
	margin-bottom: 45px; 
}

input[type="text"],
input[type="password"] {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

.familyhead-label {
	font-size: 18px;
	color: #636363;
	border: none;
	border-radius: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="checkbox"]:focus {
	outline: none;
}

.button {
	position: relative;
	display: inline-block;
	padding: 12px 24px;
	margin: .3em 0 1em 0;
	width: 100%;
	vertical-align: middle;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	letter-spacing: 1px;
	background: transparent;
	border: 0;
	border-bottom: 2px solid #3160B6;
	cursor: pointer;
	transition: all 0.15s ease;
}

.button:focus {
	outline: 0;
}

.buttonBlue {
	background: #4a89dc;
	text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { 
	background: #357bd8;
}

.alert-danger {
	color: #a94442;
	text-align: center;
}