<html>
	<head>
		<meta charset='utf-8'>
		<title>Full House</title>
		<link href="css/home.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<div id='app' data-user='<%- user %>'></div>
		<script src='bundle.js' type='text/javascript'></script>
		<% if (socket_url.length > 0) { %>
		    <script src='<%- socket_url %>'></script>
		<% } %>
	</body>
</html>