<html>
	<head>
		<meta charset="utf-8">
		<title>Full House</title>
		<link href="css/login.css" rel="stylesheet" />
	</head>
	<body>
		<form action="/login" method="post">
			<div class="group"> <input type="text" name="username" placeholder="Email" /> </div>
			<div class="group"> <input type="password" name="password" placeholder="Password" /> </div>
			<% if (message.length > 0) { %>
		        <div class="alert alert-danger"><%= message %></div>
		    <% } %>
			<button type="submit" class="button buttonBlue">Login</button>
			<a href="/signup">Sign up</a>
		</form>

	</body>
</html>