<html>
	<head>
		<meta charset="utf-8">
		<title>Full House</title>
		<link href="css/login.css" rel="stylesheet" />
	</head>
	<body>
		<form action="/signup" method="post">
			<div class="group"> <input type="text" name="username" placeholder="Email" /> </div>
			<div class="group"> <input type="password" name="password" placeholder="Password" /> </div>
			<div class="group"> <input type="text" name="family" placeholder="Family" /> </div>
			<div class="group"> <label class="familyhead-label"><input type="checkbox" name="familyhead" value="1" /> Family Head</label> </div>
			<% if (message.length > 0) { %>
		        <div class="alert alert-danger"><%= message %></div>
		    <% } %>
			<button type="submit" class="button buttonBlue">Sign Up</button>
			<a href="/login">Login</a>
		</form>

	</body>
</html>